{% url 'core:index' as index_url %}


<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="{{ index_url }}">Moulin Rouge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ index_url }}#index">Αρχικη</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ index_url }}#cover">η παρεα</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ index_url }}#hours">Ωραριο</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ index_url }}#map">Τοποθεσια</a></li>
            </ul>
        </div>
    </div>
</nav>